<body>
    <h1>Registrar</h1>
    <form>
    
    <label for="">Nombre</label>
    <br>
    <input type="text" name="nombre" placeholder="Nombre" id="nombre">
    <br>
    
    <label for="">Apellido</label>
    <br>
    <input type="text" name="apellido" placeholder="Apellido" id="apellido">
    <br>
    
    <label for="">Contraseña</label>
    <br>
    <input type="password" name="contrasena" placeholder="Contraseña" id="contrasena">
    <br>
    
    <label for="tipo-documento">Tipo de Documento:</label>
    <select id="tipo-documento" name="tipo-documento" required>
        <option value=""></option>
        <option value="TI">TI</option>
        <option value="CC">CC</option>
        <option value="CE">CE</option>
    </select>
    
    <label for="">Número de documento</label>
    <br>
    <input type="text" name="numDocumento" id="numDocumento"  placeholder="Número de documento">
    <br>
    
    <label for="genero">Género:</label>
    <select id="genero" name="genero" required>
        <option value=""></option>
        <option value="masculino">Masculino</option>
        <option value="femenino">Femenino</option>
        <option value="otro">Otro</option>
    </select>
    
    
    <label for="">Dirección</label>
    <br>
    <input type="text" placeholder="Dirección" id="direccion" >
    <br>
    
    
    <label for="estadoActivo">Activo</label><br>
    <input type="checkbox" name="estado" id="estado" > Activo<br>
    
    
    
    <label for="Email">Correo Electronico</label><br>
    <input type="email" id="email" placeholder="Email">
    <br>
    
   
    
    <button>registrar</button>
    
    <a href="/">Ir al login</a> <br><br>
    
</form>
    
    </body>
    
    